.master {
	width: 780px;
	margin: 0 auto;
}
.campo {
	margin-bottom: 1em;
}
.campo input:focus, .campo select:focus {
	bacground: #F8F8F8;
}
fieldset.grupo .campo {
	float: left;
	margin-right: 1em;
}
.errorblock {
	color: #000;
	background-color: #FFEEEE;
	border: 3px solid #FF0000;
	padding: 8px;
	margin: 16px;
}
.error {
	color: #FF0000;
	font-size: 8pt;
}